ConnectionString|MySqlTestConnection=Server=localhost;Database=Test;Uid=testuser;Pwd=Start123!;
ConnectionString|SqlServerTestConnection=Server=localhost;Database=Test;User Id=Testuser;Password=Start123!
ConnectionString|LocalhostSQL=Server=localhost;Database=DBDeltaWatcher;User Id=sa;Password=Start123!

